*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background: url(lev2.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 3% 10% 5% 10%;
}

img {
  width: 592px;
  height: 434px;
  border-radius: 10%;
  padding: 3px;
  background-color: purple;
  margin-top: 15px;
  position: fixed;
  bottom: 30px;
}

.name{
  text-transform: uppercase;
  position: fixed;
  width: 592px;
  font-family: "arial";
  font-size: 30px;
  color: darkmagenta;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
}

.introduction {
  width: 45%;
  height: 100%
  position: fixed;
  top: 0;
  right: 5%;
  float: right;
  background-color: hsla(0, 0%, 100%, .7);
  border-radius: 20px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  padding: 20px;
  font-family: "Courgette", cursive;
  color: darkmagenta;
  line-height: 2.5;
  font-weight: 600;
  font-size: 25px;
  text-align: justify;
}

img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}


.contact {
  font-size: 30px;
  position: relative;
  top: 100px;
  width: 592px;
  text-align: center;
 }

a {
  color: darkmagenta;
}
a:link{
  text-decoration: none;
}
li {
  display: inline;
}