*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background: url(lev2.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 5% 10%;
  
}

img {
  width: 40%;
  height: 50%;
  border-radius: 10%;
  padding: 3px;
  background-color: purple;
  position: fixed;
  top: 45%;
}

.name{
  text-transform: uppercase;
  position: fixed;
  width: 40%;
  height: 20%;
  top: 5%;
  font-family: "arial";
  font-size: 30px;
  color: darkmagenta;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  background-color:antiquewhite;
}

.introduction {
  width: 45%;
  height: 90%;
  position: fixed;
  right: 5%;
  top: 5%;
  background-color: hsla(0, 0%, 100%, .7);
  border-radius: 20px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  padding: 20px;
  font-family: "Courgette", cursive;
  color: darkmagenta;
  line-height: 2.5;
  font-weight: 600;
  font-size: 27px;
  text-align: justify;
}

img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}


.contact {
  font-size: 30px;
  position: fixed;
  top: 25%;
  width: 40%;
  height: 20%;
  text-align: center;
  background-color: aqua;
 }

a {
  color: darkmagenta;
}
a:link{
  text-decoration: none;
}
li {
  display: inline;
}